body {
    background-color: var(--background);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.content {
    width: calc(100% - 30px);
    max-width: 1440px;
    margin: 0 auto;
}