:root {
    --default-white: #FFF;
    --default-black: #000;

    --background: #121214;
    --background-light: rgb(32, 32, 36);

    --primary: #4863f7;
    --secondary: #4042c5;

    --gray: #898989;
}