.banner-main {
    .content {
        position: relative;

        @include device(desktop) {
            padding: 250px 0 150px 0;
        }

        @include device(mobile) {
            padding: 100px 0 80px 0;
        }

        @keyframes moveUpDown {
            0% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(-10px);
            }

            100% {
                transform: translateY(0);
            }
        }

        .banner-icon {
            @include device(mobile) {
                display: none;
            }

            @include device(desktop) {
                position: absolute;
                animation: moveUpDown 2s linear infinite;

                &.banner-icon__left {
                    left: 0;
                    top: 35%;
                }

                &.banner-icon__right {
                    right: 0;
                    top: 50%;
                }
            }

            @media screen and (min-width: 1300px) {
                max-width: 200px;
            }

            @media screen and (min-width: 1026px) and (max-width: 1299px) {
                max-width: 130px;
            }
        }
    }

    .banner-main__container {
        margin: 0 auto;

        @media screen and (min-width: 1300px) {
            max-width: 800px;
        }

        @media screen and (min-width: 1026px) and (max-width: 1299px) {
            max-width: 700px;
        }

        .banner-main__title {
            color: var(--default-white);
            text-align: center;
            font-weight: 700;

            @include device(desktop) {
                font-size: 38px;
                line-height: 42px;
            }

            @include device(mobile) {
                font-size: 28px;
                line-height: 34px;
            }

            span {
                color: var(--primary);
            }
        }

        .banner-main__texts {
            text-align: center;
            color: #707070;
            font-weight: 600;

            @include device(desktop) {
                padding: 50px 100px;
                font-size: 20px;
                line-height: 24px;
            }

            @include device(mobile) {
                padding: 30px 0;
                font-size: 16px;
                line-height: 22px;
            }
        }

        .banner-main__href {
            background-color: var(--primary);
            color: var(--default-white);
            border-radius: 5px;
            padding: 15px 20px;
            margin: 0 auto;
            display: block;
            max-width: fit-content;
            transition: .2s linear;
            font-weight: 600;

            @include device(desktop) {
                font-size: 20px;

                &:hover {
                    background-color: var(--secondary);
                }
            }

            @include device(mobile) {
                font-size: 16px;
            }
        }
    }
}