.services {
    display: flex;
    align-items: flex-start;

    @include device(desktop) {
        gap: 50px;
    }

    @include device(mobile) {
        flex-direction: column;
        gap: 30px;
    }

    .services-column__text {
        @include device(desktop) {
            width: 30%;
        }

        .services-title {
            color: var(--default-white);
            font-weight: 800;

            @include device(desktop) {
                font-size: 38px;
                line-height: 42px;
            }

            @include device(mobile) {
                font-size: 28px;
                line-height: 34px;
            }

            span {
                color: var(--primary);
            }
        }

        .services-description {
            color: var(--default-white);
            padding-top: 20px;
            font-weight: 300;

            @include device(desktop) {
                font-size: 20px;
                line-height: 28px;
            }

            @include device(mobile) {
                font-size: 16px;
                line-height: 22px;
            }
        }
    }

    .services-column__items {
        @include device(desktop) {
            width: 70%;
        }

        .services-item {
            background: rgb(32, 32, 36);
            border-radius: 5px;
            margin-bottom: 20px;

            @include device(mobile) {
                padding: 20px;
            }

            @include device(desktop) {
                padding: 30px;
                opacity: 0;
                transform: translateY(50px);
                transition: opacity 0.5s ease, transform 0.5s ease;

                &.show {
                    opacity: 1;
                    transform: translateY(0);
                }
            }

            .services-item__title {
                color: var(--default-white);
                font-weight: 800;
                padding-bottom: 15px;

                @include device(desktop) {
                    font-size: 28px;
                }

                @include device(mobile) {
                    font-size: 20px;
                }

                span {
                    color: var(--primary);
                }
            }

            .services-item__text {
                color: var(--default-white);
                font-weight: 400;

                @include device(desktop) {
                    font-size: 18px;
                    line-height: 26px;
                }

                @include device(mobile) {
                    font-size: 16px;
                    line-height: 22px;
                }
            }
        }
    }
}