.services {
    display: flex;
    align-items: flex-start;
    gap: 50px;

    @include device(mobile) {
        flex-direction: column;
    }

    .services-column__text {
        @include device(desktop) {
            width: 30%;
        }

        .services-title {
            color: var(--default-white);
            font-weight: 800;

            @include device(desktop) {
                font-size: 38px;
                line-height: 40px;
            }

            @include device(mobile) {
                font-size: 30px;
                line-height: 34px;
            }

            span {
                color: var(--primary);
            }
        }

        .services-description {
            font-size: 20px;
            line-height: 28px;
            color: var(--default-white);
            padding-top: 20px;
            font-weight: 300;
        }
    }

    .services-column__items {
        @include device(desktop) {
            width: 70%;
        }

        .services-item {
            background: #c1dbff;
            border-radius: 5px;
            margin-bottom: 20px;
            padding: 30px;

            @include device(desktop) {
                opacity: 0;
                transform: translateY(50px);
                transition: opacity 0.5s ease, transform 0.5s ease;

                &.show {
                    opacity: 1;
                    transform: translateY(0);
                }
            }

            .services-item__title {
                color: var(--background);
                font-weight: 800;
                padding-bottom: 15px;

                @include device(desktop) {
                    font-size: 28px;
                }

                @include device(mobile) {
                    font-size: 24px;
                }

                span {
                    color: var(--primary);
                }
            }

            .services-item__text {
                font-size: 18px;
                line-height: 26px;
            }
        }
    }
}