.steps {
    @include device(desktop) {
        padding-bottom: 280px;
        position: relative;
    }

    .steps-columns {
        @include device(desktop) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 30px;
            position: relative;
        }

        .step {
            font-size: 24px;
            color: var(--default-white);
            font-weight: 600;
            transition: .2s linear;
            cursor: pointer;
            border-bottom: 4px solid transparent;

            @include device(desktop) {
                &.active {
                    border-bottom: 4px solid var(--primary);
                }

                &:hover {
                    border-bottom: 4px solid var(--primary);
                }
            }
        }

        .step-arrow {
            @include device(desktop) {
                &:before {
                    content: "";
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.761' height='13.777' viewBox='0 0 14.761 13.777'%3E%3Cg id='arrow-forward-outline' transform='translate(-76 -88)'%3E%3Cpath id='Caminho_6' data-name='Caminho 6' d='M244.984,101.777a.984.984,0,0,1-.7-1.68l5.209-5.209-5.209-5.209a.984.984,0,0,1,1.392-1.392l5.9,5.9a.984.984,0,0,1,0,1.392l-5.9,5.9A.981.981,0,0,1,244.984,101.777Z' transform='translate(-161.111 0)' fill='%23fff'/%3E%3Cpath id='Linha_1' data-name='Linha 1' d='M-11.043-22.032H-23.016A.984.984,0,0,1-24-23.016.984.984,0,0,1-23.016-24h11.973a.984.984,0,0,1,.984.984A.984.984,0,0,1-11.043-22.032Z' transform='translate(100 117.905)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");
                    background-size: 100%;
                    width: 15px;
                    height: 14px;
                    display: block;
                }
            }

            @include device(mobile) {
                display: none;
            }
        }
    }

    .description {
        font-weight: 300;
        padding-top: 30px;
        color: var(--default-white);

        @include device(desktop) {
            display: none;
            font-size: 24px;
            line-height: 34px;
            position: absolute;
            left: 0;

            &.active {
                display: block;
            }
        }

        @include device(mobile) {
            font-size: 20px;
            line-height: 32px;
        }
    }

    .navigation {
        @include device(mobile) {
            display: none;
        }

        @include device(desktop) {
            display: flex;
            gap: 50px;
            justify-content: center;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;

            button {
                background: transparent;
                border: 1px solid #FFF;
                border-radius: 5px;
                font-size: 20px;
                color: var(--default-white);
                padding: 20px;
                font-weight: 400;
                transition: .2s linear;
                cursor: pointer;

                &:hover {
                    background: var(--primary);
                    border: 1px solid var(--primary);
                }
            }
        }
    }

    .steps-columns {
        @include device(mobile) {
            padding-top: 50px;

            .slick-prev.slick-arrow {
                left: 35%;
                top: 10px;
            }

            .slick-next.slick-arrow {
                top: 10px;
                right: 35%;
            }
        }
    }
}